@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Damion&family=Raleway:ital,wght@0,200;0,400;0,500;0,600;0,800;1,200;1,400;1,600;1,800&display=swap');

:root {
    
    /* Lista de Cores */
    --cor1: #442d1b;
    --cor2: #613e28;
    --cor3: #84522f;
    --cor4: #e27800;
    --cor5: #f3a038;

    /* Lista de Fontes */
    --fonte1: 'Damion', cursive;
    --fonte2: 'Raleway', sans-serif;

    /* Lista de Larguras */
    --larg-padrao: 1200px;
    --larg-min: 504px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte2);

}

h2 {
    font-family: var(--fonte1);
    color: var(--cor2);
}

a {
    text-decoration: none;
}
header {
    background-color: white;
    box-shadow: 0px 2px 8px 0px black;
    position: fixed;
    width: 100%;
    top: 0;
}

.container{
    max-width: var(--larg-padrao);

    margin: auto;
    
}

.cont-header {
    position: relative;
}

header > div > img{
    width: 150px;
}

nav {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

nav > a {
    text-decoration: none;
    font-family: var(--fonte2);
    font-weight: 500;
    color: black;
    margin-left: 20px;
}

.botao{
    background-color: var(--cor3);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

.botao:hover{
    transition-duration: 0.5s;
    background-color: var(--cor1);
   
}


.fundo{

    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}

.banner {
    background-image: url('../images/barbearia-fundo.jpg');
    min-width: 504px;

}

.conteudo-banner {
    background-color: #000000b6;
    text-align: center;
    padding: 400px 0px;
    color: white;

}

.conteudo-banner > img {
    width: 150px;
    margin-bottom: -15px;
}

.conteudo-banner > h1 {
    font-family: var(--fonte1);
    font-size: 100px;
    font-weight: normal;
   
}

.conteudo-banner > h2 {
    font-family: var(--fonte2);
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: bolder;
    color: var(--cor4);
}

.conteudo-banner > h3 {
    font-family: var(--fonte2);
    font-size: 20px;
    letter-spacing: 0px;
    font-weight: bolder;
    font-style: italic;
    font-weight: 600;
    margin-top: 10px;
}

.apresentacao {
    background-image: url('../images/desenho-pente-tesoura.jpg');
}

.clareamento {
    background-color: #ffffffad;
}

.escurecimento {
    background-color: rgba(0, 0, 0, 0.637);
    height: 100%;
    width: 100%;
}

.cont-ap {
 /*    padding: 2px; */
    height: 640px;
    /* position: relative; */
}


.quad-ap {
    display: inline-block;
    width: 376px;
    height: 580px;
   /*  background-color: yellow; */
    padding: 10px;
    margin: 10px;
    overflow: hidden;
    text-align: center;
}
#quad1 {
    font-size: 20px;
    font-family: var(--fonte2);
    padding-top: 80px;
   
}

#quad1 > h2 {
    font-size: 3em;
}


    
.quad-ap > img{
    height: 80%;
    display: block;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;

}

.marg {
    margin: 20px 0px;
}

#quad3 {
    background-image: url('../images/contando-cabelo-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}

.cont-quad {
    color: white;
    font-family: var(--fonte2);
    font-size: 1.9em;
    padding: 38px;
    padding-top: 350px;
    
}

.cont-quad > h2{
    color: white;
    font-weight: 400;
    font-size: 77px;

}


/* 
Estilos da seção 3
Estilos da seção 3
Estilos da seção 3
Estilos da seção 3
Estilos da seção 3
 */

 .servicos {
     background-color: #f3a03933;
 }

 .servicos > .container {
     padding: 50px 0px;
 }

 .topo-servicos {
     text-align: center;
     margin-bottom: 100px;
 }

 .topo-servicos > img {
    height: 150px;
 }

 .topo-servicos > h2 {
    font-weight: 400;
    font-size: 80px;
    margin-top: -25px;
 }

 .topo-servicos > p {
     
     font-weight: 600;
     font-size: 20px;
     font-style: italic;
 }

 .quad-servicos {
     display: inline-block;
     margin: 10px;
     padding: 10px;
     width: 48%;   

     border: 1px solid rgba(0, 0, 0, 0.438);
     border-radius: 10px;
     box-shadow: 0px 0px 10px #00000070;


 }