@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Damion&family=Raleway:ital,wght@0,200;0,400;0,500;0,600;0,800;1,200;1,400;1,600;1,800&display=swap');

:root {
    
    /* Lista de Cores */
    --cor1: #442d1b;
    --cor2: #613e28;
    --cor3: #84522f;
    --cor4: #e27800;
    --cor5: #f3a038;

    /* Lista de Fontes */
    --fonte1: 'Damion', cursive;
    --fonte2: 'Raleway', sans-serif;

    /* Lista de Larguras */
    --larg-padrao: 920px;
    --larg-min: 504px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte2);
    

}

h2 {
    font-family: var(--fonte1);
    color: var(--cor2);
}

a {
    text-decoration: none;
}
header {
    background-color: white;
    box-shadow: 0px 2px 8px 0px black;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}

.container{
    max-width: var(--larg-padrao);

    margin: auto;
    
}

.pos-rel {
    position: relative;
}

.cont-header {
    position: relative;
}


.menu-classico > div > h1{
    font-family: var(--fonte1);
    color: var(--cor2);
    width: 150px;
    margin: 5px 10px;
}

.menu-mobile{
    display: none;
}

nav {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

nav > a {
    text-decoration: none;
    font-family: var(--fonte2);
    font-weight: 500;
    color: black;
    margin-left: 20px;
}

.botao{
    background-color: var(--cor3);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

.botao:hover{
    transition-duration: 0.5s;
    background-color: var(--cor1);
   
}


.fundo{

    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}

.banner {
    background-image: url('../images/barbearia-fundo.jpg');
    /* min-width: 504px; */
    height: 850px;

}

.conteudo-banner {
    
    text-align: center;
    padding: 305px 0px;
    color: white;

}

.conteudo-banner > img {
    width: 150px;
    margin-bottom: -15px;
}

.conteudo-banner > h1 {
    font-family: var(--fonte1);
    font-size: 100px;
    font-weight: normal;
   
}

.conteudo-banner > h2 {
    font-family: var(--fonte2);
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: bolder;
    color: var(--cor4);
}

.conteudo-banner > h3 {
    font-family: var(--fonte2);
    font-size: 20px;
    letter-spacing: 0px;
    font-weight: bolder;
    font-style: italic;
    font-weight: 600;
    margin-top: 10px;
}

.apresentacao {
    background-image: url('../images/desenho-pente-tesoura.jpg');
}

.clareamento {
    background-color: #ffffffad;
}

.padding-ap {
    padding: 50px 0px;
}

.escurecimento {
    background-color: #000000d2;
    height: 100%;
    width: 100%;
}

.cont-ap {
 /*    padding: 2px; */
    height: 640px;
    /* position: relative; */
}


.quad-ap {
    display: inline-block;
    width: 31.6%;
    height: 580px;
   /*  background-color: yellow; */
    padding: 10px;
    margin: 9px;
    overflow: hidden;
    text-align: center;
}
#quad1 {
    font-size: 20px;
    font-family: var(--fonte2);
    padding-top: 80px;
   
}

#quad1 > h2 {
    font-size: 3em;
}


    
.quad-ap > img{
    width: 100%;
    margin-top: 45%;
}

.marg {
    margin: 20px 0px;
}

#quad3 {
    background-image: url('../images/contando-cabelo-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 7px black;
}

.cont-quad {
    color: white;
    font-family: var(--fonte2);
    font-size: 24px;
    padding: 38px;
    padding-top: 350px;
    
}

.cont-quad > h2{
    color: white;
    font-weight: 400;
    font-size: 65px;

}


/* 
Estilos da seção 3
Estilos da seção 3
Estilos da seção 3
Estilos da seção 3
Estilos da seção 3
 */

 .servicos {
     background-color: #f3a03933;
 }

 .servicos > .container {
     padding: 50px 0px;
 }

 .topo-servicos {
     text-align: center;
     margin-bottom: 50px;
 }

 .topo-servicos > img {
    height: 150px;
 }

 .topo-servicos > h2 {
    font-weight: 400;
    font-size: 80px;
    margin-top: -25px;
 }

 .topo-servicos > p {
     
     font-weight: 600;
     font-size: 20px;
     font-style: italic;
 }

 .quad-servicos {
     display: inline-block;
     overflow: hidden;
     margin: 10px;
     padding: 10px;
     width: 22.3%;   
     border-radius: 7px;
     box-shadow: 0px 0px 10px #00000070;

    text-align: center;
 }

 .quad-servicos > img {
    width: 100%;
    border-radius: 7px;
    

}

.quad-servicos > h3 {
    font-size: 22px;
    margin: 10px;
    color: var(--cor2);
}

.bot-servicos {
    display: block;
    width: 230px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}


/* 
Estilos da seção 4 - Cortesia
Estilos da seção 4 - Cortesia
Estilos da seção 4 - Cortesia
Estilos da seção 4 - Cortesia
Estilos da seção 4 - Cortesia
 */


.cortesia {
    background-image: url('../images/desenho-pente-tesoura.jpg');
   
}

.container-cortesia {
    padding: 75px 0;
}

.quad-cortesia {
    display: inline-block;
    width: 45.2%;
    height: 600px;
    margin: 20px;
}


#cifrao {
    color: #11cd00;
    font-weight: 600;
    font-size: 3em;
    text-shadow: 0px 0px 2px black;
    margin-bottom: 20px;
}

.cont-cortesia {
    text-align: center;
    padding: 15% 0%;
    overflow: hidden;
    font-weight: 700;
    font-size: 1.8em;
    letter-spacing: 1px;
    line-height: 50px;
}


.cont-cortesia h2 {
    color: var(--cor3);
    font-weight: 500;
}

.quad-img {
    
    background-image: url('../images/barbearia-entrada.jpg');
    background-position: left center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
}

div.quad-cortesia > img {

    height: 110%;
    

    /* display: inline-block; */
    width: 80vw;
    height: 84vh;
    margin: 10vw;
    /* object-fit: cover; */
    /* overflow: hidden; */

}


/* 
Estilos da seção 5 - Contato
Estilos da seção 5 - Contato
Estilos da seção 5 - Contato
Estilos da seção 5 - Contato
Estilos da seção 5 - Contato
 */

 .contato {
     height: 850px;
     background-image: url('../images/fundo-tesouras.jpg');
 }



 .container-contato {
     text-align: center;
     color: white;
     padding: 220px 0px;
     font-size: 4.5em;
     font-family: var(--fonte1);
 }

 .container-contato > #emoji {
    font-size: 2em;
}

 #telefone {
     font-family: var(--fonte2);
 }




 /* 
Estilos do Footer
Estilos do Footer
Estilos do Footer
Estilos do Footer
Estilos do Footer
 */



 .footer1 {
     background-image: url('../images/desenho-pente-tesoura.jpg');
     
 }

 .footer1-cont {
     padding: 0px 0px;
     width: 570px;
     margin: auto;
 }

 .quad-footer1 {
     display: inline-block;
     height: 80%;
     margin: 20px
 }

 .footer1-cont  h4 {
     font-family: var(--fonte1);
     font-weight: 500;
     font-size: 30px;
     color: var(--cor2);
     margin: 10px 0px;
 }

 .footer1-cont  li {
    list-style: none;
}

ul a {
    color: black;
}

ul a:hover {
    font-weight: 700;
}


.footer2 {
    background-color: #181818;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    line-height: 30px;
}


/* Medias querys */
/* Medias querys */
/* Medias querys */
/* Medias querys */
/* Medias querys */

/* Medias querys  para telas pequenas*/

@media (min-width: 320px) and (max-width: 759px){
  
    * {
        max-width: 100vw;
        
    }

    body {
        max-width: 100vw;
        padding: -1px;
    }

    header {
        max-width: calc(100vw -1px);
        z-index: 1;
        height: 8vh;
        
    }

    .menu-classico{
        display: none;
    }

    .menu-mobile{
        display: block;
        position: relative;

    }

   .menu-mobile label{
        height: 50px;
        width: 50px;
        background-color: #e27800;
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;

   }










    .botao {
       
        border-radius: 20vh;
    }

    .container {
        max-width: calc(100vw);
        margin: auto;
    }

    main {
        overflow: hidden;
    }

    /* Section Banner */

    .banner {
        max-width: calc(100vw);
        height: max(349px, 100vh);
        
    }

    .banner > .escurecimento {
        position: relative;
    } 


    .conteudo-banner {
       padding: 0;
       width: 95vw;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
        
    }

    .conteudo-banner > img {
        width: 25vw;
    }

    .conteudo-banner > h1 {
        font-size: 17vw;
    }

    .conteudo-banner > h2 {
        font-size: 4vw;
    
    }

    .conteudo-banner > h3 {
        font-size: 4vw;
    
    }



    /* section apresentacao */

    section.fundo.apresentacao {
        padding: 0 0 150vw 0;
    }

    .quad-ap{
        display: block;
        width: 95vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        margin-top: 0;

    }

    #quad1 {
        padding-top: 0px;
        padding-bottom: 50px;
        font-size: 8vw;
        height: 140vw;
        margin-bottom: 10vh;
    }

    #quad1 > h2 {
        font-size: 18vw;
    }

    .text-ap {
        font-size: 5vw;
        margin: 10vw 0;
    }

    .bot-ap {
        font-size: 5vw;
    }

    #quad2 {
        display: none;
        background-color: chartreuse;
    }


    .cont-quad {
        
        position: absolute;
        padding: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .cont-quad > h2 {
       
        font-size: 20vw;
    }


    /* section servicos */
    .topo-servicos > img {
        height: 25vw;
    }

    .topo-servicos > h2 {
        font-size: 17vw;
    }


    .topo-servicos > p {
        font-size: 5vw;
    }

    .quad-servicos {
        margin: 5vw;
        width: 90vw;
        border-radius: 2vw;
    }

    .quad-servicos > h3 {
        font-size: 9vw;
        display: inline-block;
    }

    .bot-servicos {
        width: 70vw;
        height: 15vw;
        font-size: 4.5vw;
        font-weight: 500;
        text-align: center;
        padding: 5vw 0;
        margin: 10vw auto;
     
    }


    /* section cortesia */

    .quad-cortesia {
        /* display: inline-block; */
        width: 80vw;
        height: 84vh;
        margin: 10vw;
        overflow: visible;
    }


    .cont-cortesia {
        height: 40vh;
        padding: 0;
    }

    .quad-img {
        background-image: url('../images/barbearia-entrada.jpg');
        background-position: left center;
        background-size: cover;
        
    }
    .quad-img > img {
        display: none;
        
    }


    /* Contato */

    .contato {
        height: 100vh;
    }

    .container-contato {
        position: absolute;
        padding: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .container-contato {
        font-size: max(8vw, 39px);
    }


    /* Footer */
    .quad-footer1 {
        display: block;
        width: 80vw;
        margin: 5vw auto;
        text-align: center;
        font-size: 5vw;
    }

    .footer1-cont h4 {
        /* font-family: var(--fonte1); */
        /* font-weight: 500; */
        font-size: 8vw;
        /* color: var(--cor2); */
        /* margin: 10px 0px; */
    }


    
    main {
        overflow: hidden;
    }



    .footer1-cont {
        max-width: 100vw;
    }



   

  /*   header{
        overflow: hidden;
    }
    
    .banner {
        overflow: hidden;
    }

    .apresentacao {
        overflow: hidden;
    }

    .servicos {
        overflow: hidden;
    }

    .cortesia {
        overflow: hidden;
    }

    .contato {
       overflow: hidden;
    }
 */










    
}





/* Medias querys  para telas medias*/

@media (min-width: 760px) and (max-width: 959px){
    .container{
        max-width: 720px;
    
        margin: auto;
        
    }

    .quad-ap {
        width: 48.4%;
    }

   #quad2, #quad2 img {
       display: none;
   }

   .quad-servicos {
        width: 46.9%;
   }

   .quad-cortesia {
    width: 44.1%;
    }


}



/* Medias querys  para telas grandes*/

@media screen and (min-width: 1440px){
    
body {
    zoom: 1.1;
}
    
}

@media screen and (min-width: 1920px){
    
    body {
        zoom: 1.2;
    }
        
    }

@media screen and (min-width: 2048px){

    body {
        zoom: 1.8;
    }
        
    }



@media screen and (min-width: 3040px){

    body {
        zoom: 2.1;
    }
        
    }