@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Damion&family=Raleway:ital,wght@0,200;0,400;0,500;0,600;0,800;1,200;1,400;1,600;1,800&display=swap');

:root {
    
    /* Lista de Cores */
    --cor1: #442d1b;
    --cor2: #613e28;
    --cor3: #84522f;
    --cor4: #e27800;
    --cor5: #f3a038;

    /* Lista de Fontes */
    --fonte1: 'Damion', cursive;
    --fonte2: 'Raleway', sans-serif;

    /* Lista de Larguras */
    --larg-padrao: 920px;
    --larg-min: 504px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tags Principais*//* Tags Principais*//* Tags Principais*/
/* Tags Principais*//* Tags Principais*//* Tags Principais*/
/* Tags Principais*//* Tags Principais*//* Tags Principais*/

body {
    font-family: var(--fonte2);
}

h2 {
    font-family: var(--fonte1);
    color: var(--cor2);
}

a {
    text-decoration: none;
}

/* Tags Semanticas *//* Tags Semanticas *//* Tags Semanticas */
/* Tags Semanticas *//* Tags Semanticas *//* Tags Semanticas */
/* Tags Semanticas *//* Tags Semanticas *//* Tags Semanticas */

.fundo-header {
    background-color: white;
    box-shadow: 0px 2px 8px 0px black;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 55px;
    top: 0;
}

.cont-header {
    position: relative;
}

.menu-classico {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.menu-classico > div > h1{
    font-family: var(--fonte1);
    color: var(--cor2);
    width: 150px;
    margin: 5px 10px;
}

.menu-mobile{
    display: none;
}

nav {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

nav > a {
    text-decoration: none;
    font-family: var(--fonte2);
    font-weight: 500;
    color: black;
    margin-left: 20px;
}

nav > a:hover {
    font-weight: 800;
}

/* Classes Gerais *//* Classes Gerais *//* Classes Gerais */
/* Classes Gerais *//* Classes Gerais *//* Classes Gerais */
/* Classes Gerais *//* Classes Gerais *//* Classes Gerais */


.container{
    max-width: var(--larg-padrao);
    margin: auto;
}

.pos-rel {
    position: relative;
}

.botao{
    background-color: var(--cor3);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

.botao:hover{
    transition-duration: 0.5s;
    background-color: var(--cor1);
   
}

.fundo{

    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}

.clareamento {
    background-color: #ffffffad;
}

.escurecimento {
    background-color: rgb(0 0 0 / 0.7);
    height: 100%;
    width: 100%;
}

.marg {
    margin: 20px 0px;
}

/* 
Estilos da seção 5 - Contato
Estilos da seção 5 - Contato
Estilos da seção 5 - Contato
Estilos da seção 5 - Contato
Estilos da seção 5 - Contato
 */

 .contato {
    height: 850px;
    background-image: url('../images/fundo-tesouras.jpg');
}



.container-contato {
    text-align: center;
    color: white;
    padding: 220px 0px;
    font-size: 4.5em;
    font-family: var(--fonte1);
}

.container-contato > #emoji {
   font-size: 2em;
}

#telefone {
    font-family: var(--fonte2);
}




.footer1 {
    background-image: url('../images/desenho-pente-tesoura.jpg');
    
}

.footer1-cont {
    padding: 0px 0px;
    width: 570px;
    margin: auto;
}

.quad-footer1 {
    display: inline-block;
    height: 80%;
    margin: 20px
}

.footer1-cont  h4 {
    font-family: var(--fonte1);
    font-weight: 500;
    font-size: 30px;
    color: var(--cor2);
    margin: 10px 0px;
}

.footer1-cont  li {
   list-style: none;
}

ul a {
   color: black;
}

ul a:hover {
   font-weight: 700;
}

.footer2 {
   background-color: #181818;
   color: #ffffff;
   text-align: center;
   padding: 15px;
   line-height: 30px;
}

/* Medias querys *//* Medias querys *//* Medias querys */
/* Medias querys *//* Medias querys *//* Medias querys */
/* Medias querys *//* Medias querys *//* Medias querys */

@media (min-width: 320px) and (max-width: 759px){
    /* Tags Principais*//* Tags Principais*//* Tags Principais*/
  
    * {
        max-width: 100vw;
    }

    body {
        max-width: 100vw;
        padding: -1px;
    }

    /* Tags Semanticas *//* Tags Semanticas *//* Tags Semanticas */

    .fundo-header {
        max-width: calc(100vw -1px);
        z-index: 3;
        position: fixed;
        top: 0;
        height: max(8vw, 8vh);
        
    }

    main {
        overflow: hidden;
    }


    /* Classes Gerais *//* Classes Gerais *//* Classes Gerais */
    
    /* Menus */
    .menu-classico{
        display: none;
    }
    
    .menu-mobile{
        display: block;
        position: relative;
        height: 0;
    }

    .menu-mobile label{
        height: max(8vh, 8vw);
        width: max(8vw, 8vh);
        display: block;
        position: fixed;
        top: 0px;
        right: 0px;
        z-index: 3;
    }

    .menu-mobile label:hover{ 
        cursor: pointer;
    }

    .menu-mobile label span {
        width: 70%;
        height: 10%;
        display: block;
        margin: 0.85vh 15%;
        border-radius: 1vw;
        background-color: var(--cor1);
        transition: 0.5s;
    }

    .menu-mobile label span:nth-child(1) {
        margin-top: 2vh;
    }

    /* #mobile:checked+label span {
        background-color: violet;
    } */

    #mobile:checked+label span:nth-child(1) {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    #mobile:checked+label span:nth-child(2) {
      display: none;
    }

    
    #mobile:checked+label span:nth-child(3) {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .itens-menu-mobile{
        position: fixed;
        top: max(22vh, 17vw);
        left: 0;
        z-index: 0;
        background-color: white;
        width: 100vw;
        overflow: hidden;
        box-shadow: inset 0px 20px 12px -20px black;
        border-bottom: 1px solid #0000004f;
        display: none;
    }

    .itens-menu-mobile ul li{
        list-style: none;
        text-align: center;
        padding: 3vh 0;
        font-weight: 600;
        font-size: max(3vh, 3vw);
        color: var(--cor1);
    }

    #mobile:checked+label .itens-menu-mobile {
        display: block;
    }

    /* Botoes */
    .botao {
        border-radius: 20vh;
    }

    .container {
        max-width: calc(100vw);
        margin: auto;
    }

    /* Contato */
    .contato {
        height: 110vh;
    }

    .container-contato {
        position: absolute;
        padding: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .container-contato {
        font-size: max(8vw, 39px);
    }

    .quad-footer1 {
        display: block;
        width: 80vw;
        margin: auto;
        padding: 2vw;
        text-align: center;
        font-size: 5vw;
    }

    .footer1-cont h4 {
        font-size: 8vw;
    }
    
    .footer1-cont {
        width: initial;
        
    }
}

@media (min-width: 760px) and (max-width: 949px){
    .container{
        max-width: 880px;
        margin: auto;
    }
}

@media (min-aspect-ratio: 10/8) and (max-width: 759px) {

    .menu-mobile label {
        height: min(35vh, 50px);
        top: 3vh;
    }

    #mobile:checked+label span:nth-child(1), #mobile:checked+label span:nth-child(3) {
        top: max(1.8vw, 10px);
    }

   

    
}

@media screen and (min-width: 1440px){
    
    body {
        zoom: 1.1vw;
    }
}
